<div class="container">
  <header class="header">Bootstrap課題</header>
  <nav class="menu">
      <ul class="row">
          <li class="col-md-4"><a href="#">トップページ</a></li>
          <li class="col-md-4"><%= link_to "ブログ一覧", blogs_path %></li>
          <li class="col-md-4"><%= link_to "新規作成", new_blog_path %></li>
      </ul>
  </nav>
  <article>
      <div class="contents">
          <ul>
              <li class="col-md-6">contents1</li>
              <li class="col-md-6">contents2</li>
          </ul>
      </div>
      <div class="topic">
           <ul>
              <li class="col-md-12">bootstrapを使ってレスポンシブデザインを実現しよう！</li>
              <li class="col-md-12">やればできる！bootstrapを使ってみよう！</li>
              <li class="col-md-12">怖くない！レスポンシブデザインができるようになればWebアプリケーションもワンランク上に！</li>
          </ul>
      </div>
  </article>
</div>