<div class="container">
  <section class="main-header">
    <br>
    <h2>Bootstrap課題</h2>
    <%= image_tag 'key.png' %>
  </section>
  <nav class="menu">
      <ul class="row">
          <li class="col-md-4"><a href="#">トップページ</a></li>
          <li class="col-md-4"><%= link_to "ブログ一覧", blogs_path %></li>
          <li class="col-md-4"><%= link_to "新規作成", new_blog_path %></li>
      </ul>
  </nav>
  <article>
      <div class="contents">
          <ul>
              <li class="col-md-6">contents1</li>
              <li class="col-md-6">contents2</li>
          </ul>
      </div>
      
      <div class="topic">
           <ul>
              <li class="col-md-12">TOPページはbootstrapを使ってレスポンシブデザインを実装</li>
              <li class="col-md-12">ブログ機能にはBootstrapコンポーネントでボタンを配置</li>
              <li class="col-md-12">　　</li>
          </ul>
      </div>
  </article>
</div>